/* Write your CSS code here */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

@media screen and (min-width: 576px) {
  .header-container {
    padding: 15px;
  }
}

.logo-and-title-container {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.header-title {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
}

.nav-list-item {
  display: flex;
  padding-left: 0;
}

.link-item {
  list-style-type: none;
}

.router-link {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 16px;
  cursor: pointer;
}
